
.main {
    margin: 10%;
    padding: 20px;
    background: white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* border-collapse: collapse; */
}

.slots {
    border: 0.5px solid #9A9A9A;
}

.slots:hover {
    cursor: pointer;
    background: green;
    color: white;
}

.booked {
    background: red; 
    color: white;
}

.booked:hover {
    background: red;
}